aws_access_key_id = AKIA3UZ5
aws_secret_access_key = I4S3
# to backup to the root of the bucket, set s3_base = backup-bucket/
# to backup to the path under the bucket, set s3_base = backup-bucket/prefix/
s3_base = backup-bucket/prefix/
7z_bin = C:\Program Files\7-Zip-Zstandard\7z.exe